section {
  display: flex;
  justify-content: center;
  margin-top: 66px;
  column-gap: 382px;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article h3 {
  margin-top: 15px;
  color: rgba(98%, 70%, 15%);
}

article p {
  width: 382px;
  line-height: 25px;
  margin-top: 15px;
}
